body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    background-color: #ccc;
    margin: 0;
    padding: 20px 0;
}


main {
    width: 800px;
    margin: 0 auto;
}

menu {
    padding-left: 0px;
}

menu p {
    display: inline;
}

menu a {
    color: #3cb878;
}

#datas {
    display: flex;
    flex-direction: row;
}

#imageHolder img {
    border: 1px solid #333;
}

#airlineDatas {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

#airlineDatas p:nth-child(odd) {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0px;
}

#airlineDatas p:nth-child(even) {
    margin-top: 0px;
}

