body {
	background-image: url('background.png');
	background-repeat: repeat-y;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 100%;
	color: #000000;
}
#kep {
	margin: 50px 0 0 170px;
	width: 350px;
	height: 514px;
	float: left;
	background-image: url('image-background.png');
}
#bemutatkozas {
	margin: 180px 0px 0px 80px;
	float: left;
}
#bemutatkozas p.iskola, #bemutatkozas p.hello  {
	font-size: 42px;
	font-weight: bold;
	line-height: 150%;
	margin: 0 0 20px 0;
}
#bemutatkozas p.hello {
	text-indent: -50px;
}

#bemutatkozas p.iskola {
	text-indent: -50px;
	font-size: 24px;
	/*font-weight: bold;*/
	line-height: 150%;
}

img {
	position: relative;
	top: 40px;
	right: 40px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
	border: 5px solid #007335;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	color: black;	
}
a:hover {
	background: #007335;
	color: #FFFFFF;
}
span {
	color: #007335;
}
